@use "../../scss" as *;

.sidebar {
  width: 20vw;
  height: 100vh;
  order: 1;
  background-color: $secondary-background;
  border-right: 1px solid $primary-border;

  &__heading {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: $base-color;
  }
}
