$primary-background: rgb(33, 33, 45);
$secondary-background: rgb(44, 44, 56);

$primary-border: rgb(100, 100, 100);

$base-color: rgb(100, 95, 198);

$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(102, 107, 125);

$btn-primary: rgb(100, 95, 198);
$btn-secondary: rgb(255, 255, 255);

$todo-color: rgb(69, 194, 224);
$doing-color: rgb(133, 113, 249);
$done-color: rgb(103, 230, 176);

$screen-sm-max: 677px;
$screen-md-max: 1024px;
