@use "../../scss" as *;

.boards {
  &__title {
    padding-left: 3rem;
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: $primary-text;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  &__list {
    list-style-image: url("../../assets/board-svgrepo-com.svg");
  }
  &__element {
  }
  &__button {
    width: 80%;
    padding: 1rem 3rem;
    margin: 1rem 0 0.5rem;
    border: 0;
    background-color: transparent;
    text-align: left;
    color: $primary-text;
    cursor: pointer;

    &--active {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      background-color: $base-color;
    }
  }
}
